/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
# /public/uploads
/public/uploads/users
/public/uploads/banner
/public/system/img
/public/system/group
/public/system/images/post_promotion
/public/thumbs
/public/system/audio/*
/public/uploads/admin/guide
/public/mix-manifest.json
/public/css/*
/public/js/*
laravel-echo-server.lock
laravel-echo-server.json
