.banner-mobile .search-list{
    grid-template-rows: unset !important;
}
.text-three-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.5rem;
    font-size: 16px;
}

.home-focus-time p{
    font-size: 13px;
}

#popup_home{
    position: fixed;
    width: 991px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 15px;
    display: none;
    display: flex;
    justify-content: center;
}
.property-list .excerpt {
    margin-top: -35px;
    margin-bottom: 0;
}
